<section class="relative w-full">
    <video class="absolute top-0 left-0 z-0 aspect-video blur-sm" loop src="/assets/video/headervideo.mp4" muted
        autoplay type="video/mp4"></video>
    <div class="relative aspect-video z-[1] px-4 mx-auto max-l max-w text-center py-24 lg:py-56">
        <img src="/assets/image/logowhite.png" class="w-2/3 m-auto img-filter-shadow" alt="Logo Click and Shop">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl uppercase">
            Tu tienda a un <span class="text-custom-pink">click</span></h1>
        <p class="mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 lg:px-48">Realiza compras desde tu hogar y
            recibe en tu puerta.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/products"
                class="transition-colors inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-fuchsia-700 hover:bg-fuchsia-800 focus:ring-4 focus:ring-fuchsia-300 dark:focus:ring-fuchsia-900">
                Comencemos!
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        
        </div>
    </div>
</section>