<div class="mx-auto flex">
  <div
    class="mx-auto bg-white shadow-md border min-w-[80vh] border-gray-200 rounded-lg p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" id="resetPasswordForm" method="post">
      <h3 class="text-xl font-medium text-center text-gray-900 dark:text-white">Recuperar cuenta - Cambiar la contraseña</h3>

      <div>
        <label for="password" class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Ingrese nueva
          contraseña.</label>
        <input type="password" name="newPassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required="" />
      </div>

      <input type="hidden" name="token" id="token" value="">

      <button type="submit"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar
        nueva contraseña</button>
    </form>
  <div id="status" class="mt-2">&nbsp;</div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const params = new URLSearchParams(window.location.search);
    const token = params.get('token');

    if (token) {
      // Ajusta el valor del campo oculto del token en el formulario
      document.getElementById('token').value = token;
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const messageContainer = document.getElementById('status');
    const form = document.getElementById('resetPasswordForm');
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      const token = document.getElementById('token').value;
      const newPassword = document.getElementsByName('newPassword')[0].value;

      const data = { token, newPassword };

      fetch('http://localhost:8080/api/auth/reset-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            messageContainer.innerHTML = `Su contraseña ha sido cambiada exitosamente. Puedes loguearte haciendo <a href="/login" class="underline">click aquí</a>`;
          }
        })
        .catch((error) => {
          console.error('Error:', error);
          messageContainer.textContent = `Hubo un problema con tu solicitud de restablecimiento de contraseña`;

        });
    });
  });
</script>